.banner-cases {

  background: url("../img/bg-cases-de-sucesso.png") center;
  background-size: cover;

  .title-page {
    font-weight: 500;
    font-size: 3.5rem;
    color: $white;

    &::after {
      position: absolute;
      content: "";
      display: block;
      width: 80px;
      height: 3px;
      right: 0;
      left: 0;
      margin: auto;
      background: #ffffff;
      margin-top: 10px;     
      
    }
  }
  
}

.cases{

  legend{
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 93%;
    height: 100%;
    align-items: center;    
    margin: auto;
    color: white;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;    
    &:hover{
      font-weight: 600;
    }
  }

}

.section-form {
  .color-paragraph {
    color: #1461a1;
  }

  .form-control {
    border: 1px solid #2bc4f1 !important;
    border-radius: 1rem !important;
    outline: 0;
    box-shadow: 0 0 0 0;
  }

  .form-group {
    margin-bottom: 2rem !important;
  }

  .btn-send {
    color: #fff;
    background-color: #0a9bd5;
    border-color: #0a9bd5;
    border-radius: 1rem;
    outline: 0;
    box-shadow: 0 0 0 0;
    transition: all 0.5s ease-in-out;

    &:hover {
      color: #0a9bd5;
      @extend .bg-transparent;
      transition: all 0.5s ease-in-out;
    }
  }
}
