footer {

  .main-footer{
    color: $white;
    background: $blue;

    .title{
      font-size: 1.3rem;
      text-transform: uppercase;
      border-bottom: 0.5px solid $white;
      @extend .mb-2;
    }

    .contact{

      a{
        @extend .d-flex;
        @extend .align-items-center;
        @extend .py-2;
        text-decoration: none;
        color: $white;
      }

    }
    
    .pages{

      a{

        @extend .d-flex;
        @extend .align-items-center;
        @extend .py-1;
        text-decoration: none;
        color: $white;
        border-bottom: 0.5px solid $white;

        &:after{
          content: ">";
          position: absolute;
          right: 17px;
        }

        &:hover{

          font-weight: 600;

        }

      }

    }

    .icon-square{
      width: 35px;
      height: 35px;
      text-align: center;
      border-radius:10%;
      border: 1px solid $white;
      padding: 0.5em;
      float:left;
      margin-right: 0.4rem;    
  }
}
  
  .copyright{
    color: $blue;
    background: $lgrey;
  }

}