header {

  .mini-bar {

    a {
      padding: 0 1rem;
    }
  }

  .nav-link {
    color: $black;
    text-transform: uppercase;
  }

  button {
    outline: none !important;
  }

  @media (min-width: map-get($grid-breakpoints, md)) {

    .navbar-collapse ul {
      background: transparent !important;

      li {
        line-height: 18px;

        &:nth-child(5) {
          border-right: 0 !important;
          padding-right: 0 !important;
        }

        a {
          padding: 0 .8rem !important;
          border-right: 2px solid $black;
        }
      }
    }
  }
}