.bg-home {
  background: url("../img/bg-home.png") center center no-repeat;
}

.bg-area {
  background: url("../img/bg-area.png") center center no-repeat;
  background-size: cover;
}

.box-span {
  font-size: 30px;

  span {
    background: rgba(255, 255, 255, 0.5);
    font-size: 40px;
    width: 63px;
    height: 63px;
    @extend .full-center;
    margin-right: 1rem;
    border-radius: 10px;
  }
}
