.banner-ouvidoria {
  background: url("../img/banner-ouvidoria.jpg") center;

  .title-page {
    font-weight: 500;
    font-size: 3.5rem;
    @extend .color-lblue;

    &::after {
      content: "";
      display: block;
      width: 80px;
      height: 3px;
      background: #ffffff;
      margin-top: 10px;
    }
  }
}

.section-form {
  .color-paragraph {
    color: #1461a1;
  }

  .form-control {
    border: 1px solid #2bc4f1 !important;
    border-radius: 1rem !important;
    outline: 0;
    box-shadow: 0 0 0 0;
  }

  .form-group {
    margin-bottom: 2rem !important;
  }

  .btn-send {
    color: #fff;
    background-color: #0a9bd5;
    border-color: #0a9bd5;
    border-radius: 1rem;
    outline: 0;
    box-shadow: 0 0 0 0;
    transition: all 0.5s ease-in-out;

    &:hover {
      color: #0a9bd5;
      @extend .bg-transparent;
      transition: all 0.5s ease-in-out;
    }
  }
}
