.banner-sobrenos {
  background: url(../img/bg-sobre-nos.png) center;
}

.section-business {
  .title-business {
    font-size: 2rem;
    font-weight: 500;
    @extend .color-lblue;

    &::after {
      content: "";
      display: block;
      width: 80px;
      height: 3px;
      background: #0da96a;
      margin: 0 auto;
    }
  }

  .mt-sm-n5 {
    margin-top: -6rem !important;
  }
}

.section-know {
  @extend .bg-anthensgray;

  .title-know {
    font-size: 2.5rem;
    font-weight: 500;
    @extend .color-lblue;
  }

  .btn-outline-know {
    color: #007bff;
    border-color: #007bff;
    border-radius: 0.9rem !important;
    outline: 0;
    box-shadow: 0 0 0 0;
    transition: all 0.6s ease-in-out;

    &:hover {
      color: #ffffff;
      @extend .bg-blue;
      transition: all 0.6s ease-in-out;
    }
  }

  .btn-outline-know-ti {
    color: $lblue;
    border-color: #0ba5dd;
    border-radius: 0.9rem !important;
    outline: 0;
    box-shadow: 0 0 0 0;

    &:hover {
      color: #ffffff;
      @extend .bg-lblue;
      transition: all 0.6s ease-in-out;
    }
  }

  .btn-block {
    display: block;
    width: 70% !important;
  }
}

@media (min-width: map-get($grid-breakpoints, md)) {
  .section-business {
    .title-business {
      &::after {
        margin: 0;
      }
    }
    .mt-sm-n5 {
      margin-top: -8rem !important;
    }
  }
}
