@import "../../source/components/bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css?family=Rubik:400,500,700&display=swap");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css");

$blue: #2a8bc4;

$dblue: #0d7cbd;

$lblue: #0ca6dd;

$lgrey: #f4f5f8;

$black: #515151;

$whitelilac: #ebedf6;

$athensgray: #f5f6f9;

.color-athensgray {
  color: $athensgray;
}

.color-whiteilac {
  color: $whitelilac !important;
}

.color-blue {
  color: $blue !important;
}

.color-dblue {
  color: $dblue !important;
}

.color-lblue {
  color: $lblue !important;
}

.color-lgrey {
  color: $lgrey !important;
}

.color-black {
  color: $black !important;
}

.bg-blue {
  background: $blue !important;
}

.bg-lblue {
  background: $lblue !important;
}

.bg-lgrey {
  background: $lgrey !important;
}

.bg-black {
  background: $black !important;
}

.bg-dblue {
  background: $dblue !important;
}

.bg-whiteilac {
  background: $whitelilac !important;
}

.bg-anthensgray {
  background: $athensgray !important;
}

.banner {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  height: 24rem;
}

.size-img {
  height: 100px;
}

.bottom-0 {
  bottom: 0;
}

.bottom-1 {
  bottom: 1rem;
}

.title-page {
  font-weight: 500;
  @extend .color-lblue;

  &::after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    background: #ffffff;
    margin-top: 10px;
  }
}

.title-page-white {
  font-weight: 500;
  color: #ffffff;

  &::after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    background: #ffffff;
    margin: 0 auto;
    margin-top: 10px;
  }
}

.m-auto-left {
  margin: 0 auto 0 0 !important;
}

.d-nonee {
  display: none;
}

.d-grid {
  display: grid;
}

.grayscale {
  filter: invert(62%) sepia(2%) saturate(1500%) hue-rotate(164deg)
    brightness(99%) contrast(91%);
}

.owl-carousel {
  img {
    width: initial !important;
  }
}

hr {
  border-top: 2px solid #bdc3c8;
}

.shadow {
  -webkit-box-shadow: 0px 5px 20px -2px rgba(204, 204, 204, 1);
  -moz-box-shadow: 0px 5px 20px -2px rgba(204, 204, 204, 1);
  box-shadow: 0px 5px 20px -2px rgba(204, 204, 204, 1);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif !important;
  color: $black;
  position: relative;
}

a {
  text-decoration: none !important;
  cursor: pointer;
}

img {
  @extend .img-fluid;
}

button {
  outline: none !important;
  text-decoration: none !important;

  &:hover {
    background: transparent !important;
  }
}

.bg-whitee {
  background: #fff;
}

.text-whitee {
  color: #fff;
}

.full-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-ce-b {
  @extend .full-center;
  flex-wrap: wrap;
}

@media (min-width: map-get($grid-breakpoints, xs)) {
  h1 {
    font-size: 34px;
  }

  h2 {
    font-size: 28px;
    font-weight: 500;
  }

  h3 {
    font-size: 24px;
  }
}

.slide {
  height: 442px;
}

@media (min-width: map-get($grid-breakpoints, md)) {
  .slide {
    background-size: cover;
  }

  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 32px;
    font-weight: 400;
  }

  h3 {
    font-size: 30px;
  }

  .position-lg-absolute {
    position: absolute;
  }

  .span-subtitle {
    border-top: 1px solid #2a8bc4;
    border-bottom: 1px solid #2a8bc4;
    padding: 3px;
  }
}

.chev {
  background: $blue;
  color: #fff;
  padding: 0.5rem 0.7rem;
  @extend .rounded;
  font-size: 1.4em;
  margin: 0 1rem;
}

.btn-b {
  border: 2px solid $blue;
  border-radius: 30px;
  padding: 1rem 2rem;
  color: $blue;
  font-weight: 500;
  line-height: normal;
}

.ftw-500 {
  font-weight: 500;
}

.mw-700 {
  max-width: 700px;
}

.underline-blue {
  &::after {
    content: "";
    display: block;
    width: 80px;
    height: 1px;
    background: $blue;
    margin-top: 5px;
  }
}

.detail {
  height: 2px;
  width: 100px;
}

.breadcrumbs {
  color: #8a8a8a;
  text-transform: uppercase;
}

.hr-blue {
  border-top: 1px solid $blue;
}

@import "owl.carousel";

@import "owl.theme.default.min";

@import "animated";

@import "footer";

@import "header";

@import "home";

@import "sobre-nos";

@import "contato";

@import "ouvidoria";

@import "cases";

@import "atendimento";

@import "engenharia";

@import "cabeamento";

@import "trabalhe";

@import "seguranca";

@import "eletrica";

@import "infraestrutura";

@import "assistencia";
